<p><label id=nameText>Name</label></p>
<p><input placeholder="Name..." id="nameInput"></p>
<p><label id=emailText>Email</label></p>
<p><input placeholder="Email..." id="emailInput"></p>
<p><label id=passwordText>Password</label></p>
<p><input placeholder="Password..." id="passwordInput"></p>
<p><label id=repeatText>Repeat Password</label></p>
<p><input placeholder="Password..." id="repeatInput" ></p>
    
<p><button type="button" id="create" (click)="attemptCreateAccount()">Create</button></p>
<p><button type="button" id="cancel" (click)="cancelCreateAccount()">cancel</button></p>